body {
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
}

.main {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 450px;
    border-radius: 3%;
    margin: 90px auto;
}

.product-img {
    height: 100%;
    float: left;
    border-radius: 3% 0 0 3%;
    /* margin-right: 30px; */
}

.product {
    width: 50%;
    display: inline-block;
}

.product-wrapper {
    margin: 35px;
}

.preview {
    letter-spacing: 0.2rem;
}

.title {
    color: hsl(212, 21%, 14%) ;
    width: 90%;
}

.desc {
    line-height: 1.5;
}

.price {
}

.price1 {
    display: inline;
    color: hsl(158, 36%, 37%);
}

.price2 {
    text-decoration: line-through;
    display: inline;
    margin: 0 0 0 20px;
    position: relative;
    bottom: 5px;
}


.cart-icon {
    display: inline-block;
    margin-top: 5px; 
    position: relative;
    top: 3px;
}

.add {
    display: inline-block;
    color: #ededed;
    padding: 0; 
    margin-left: 5px;
    font-weight: bold;
}

.button-wrapper {
    text-align: center;
}


.btn {
    margin-top: 20px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: hwb(158 9% 74%);
}
